/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */


.sidebar {
  background-color: #f5f5f5;
  padding: 0px;
  border-right: 1px solid #eee;
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;

      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */


}


/* Sidebar navigation */
.nav-sidebar {
  margin-bottom: 20px;

}
.nav-sidebar > li > a {

}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

